<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Add_delete">
  <test thread-count="5" name="Add&amp;delete">
    <classes>
      <class name="AddCartTest.TestClass_AddProductToCart"/>
      <class name="AddCartTest.DeleteFromCart"/>
    </classes>
  </test> <!-- Add&delete -->
</suite> <!-- Add_delete -->
